body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d7f9f9; /* Color cian claro */
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-box {
    background-color: #f4fcfd; /* Fondo blanco suave */
    padding: 30px;
    border-radius: 15px; /* Un borde más redondeado */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: 350px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 25px;
    color: #03333b; /* Azul oscuro casi negro */
    font-size: 24px;
}

.textbox {
    margin-bottom: 20px;
}

.textbox input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.textbox input:focus {
    border-color: #02848b; /* Azul verdoso intermedio */
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #02848b; /* Azul verdoso intermedio */
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.btn:hover {
    background-color: #045e63; /* Azul verdoso más oscuro */
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.checkbox-container input {
    margin-right: 5px;
}

.signup-link {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

.signup-link a {
    color: #02848b; /* Azul verdoso */
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

.back-button {
    position: absolute;
    top: 100px;
    left: 570px;
    background: none;
    border: none;
    cursor: pointer;
}

.back-button img {
    width: 40px;
    height: auto;
}
